{% extends "with-sidebar.html" %}

{% block title %} - {{ article.title }}{% endblock title %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" />
    {% endfor %}

    {% for description in article.description %}
        <meta name="description" content="{{description}}" />
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block page_breadcrumbs %}
<li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
<li>{{ article.title }}</li>
{% endblock page_breadcrumbs %}

{% block content %}
<article class="post">
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

    {% if article.image %}
    <figure class="post-img media">
        <div class="mediaholder">
            <a class="mfp-image" title="{{ article.title }}" href="{{ SITEURL }}/{{ article.url }}">
                <img src="{{ SITEURL }}/images/{{ article.image }}" alt=""/>
            </a>
        </div>
    </figure>
    {% endif %}

    <div class="meta">
    <span class="meta">{{ article.locale_date }}</span>
    {% if article.modified %}
        <span class="meta">Updated on {{ article.locale_modified }}</span>
    {% endif %}
    </div>


    {{ article.content }}

    {% if article.tags %}
        <div class="tags">
            {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% endfor %}
        </div>
    {% endif %}
    <nav class="pagination">
        <!-- XXX requires the neighbors plugin from `pelican-plugins`-->
        {% if article.prev_article %}
            <a class=prev-link href="{{ SITEURL }}/{{ article.prev_article.url}}">
                &larr; {{ article.prev_article.title }}
            </a>
        {% endif %}
        {% if article.next_article %}
            <a class=next-link href="{{ SITEURL }}/{{ article.next_article.url}}">
                {{ article.next_article.title }} &rarr;
            </a>
        {% endif %}
        <div class="clearfix"></div>
    </nav>
    <div class="clearfix"></div>
</article>

{% endblock content %}
