﻿{% extends "with-sidebar.html" %}

{% block title %} - Authors{% endblock title %}

{% block page_breadcrumbs %}
<li>Authors</li>
{% endblock page_breadcrumbs %}

{% block content %}
    <h2>Authors</h2>

    {% for author, articles in authors|sort %}
        <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark">
            <p>
                {{ author }} ({{ articles|count }})
            </p>
        </a>
    {% endfor %}
    <div class="clearfix"></div>
{% endblock content %}
