{% extends "with-sidebar.html" %}
{% block content %}
    <table class="post-list">
    {% for article in articles_page.object_list %}
        <!-- Post -->
        <tr>
        <!-- TODO optional article icon
            {% if article.image %}
            <figure class="post-img media">
                <div class="mediaholder">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <img src="{{ SITEURL }}/images/{{ article.image }}" alt="{{ article.title}}"/>
                        <div class="hovercover">
                            <div class="hovericon"><i class="hoverlink"></i></div>
                        </div>
                    </a>
                </div>
            </figure>
            {% endif %} -->
            <td class="date">{{ article.locale_date }}</td>
            <td class="tags">
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                {% endfor %}
            </td>
            <td class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></td>
            <!-- {% if SHOW_FULL_ARTICLE %}<p>{{ article.content }}</p>{% endif %} -->
        </tr>
    {% endfor %}
    </table>
    <div class="clearfix"></div>

    {% if DEFAULT_PAGINATION %}
    <!-- Pagination -->
    <nav class="pagination">
        {% if articles_page.has_previous() %}
            <a class=prev-link href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Newest Posts</a>
        {% endif %}
        Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        {% if articles_page.has_next() %}
            <a class=next-link href="{{ SITEURL }}/{{ articles_next_page.url }}">Older Posts &rarr;</a>
        {% endif %}
        <div class="clearfix"></div>
    </nav>
    {% endif %}
{% endblock content %}
