{% extends "base.html" %}

{% block content_placeholder %}
    <aside>
        {% if 'about' in SIDEBAR_DISPLAY and SIDEBAR_ABOUT %}
        <!-- About  -->
        <div class="widget" id="about">
            <img src="{{ SITEURL }}/theme/images/v01d_small_1.png" alt="avatar"/>
            {{ SIDEBAR_ABOUT }}
        </div>
        {% endif %}

        {% if 'categories' in SIDEBAR_DISPLAY %}
        <!-- Categories -->
        <div class="widget", id="categories">
            <h3>Categories</h3><div class="clearfix"></div>
            {% for cat, null in categories %}
            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% if 'tags' in SIDEBAR_DISPLAY %}
        <div class="widget, tags">
            {%- for tag, articles in tags|sort %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <form action='https://www.paypal.com/cgi-bin/webscr' method='post'>
        <input type='hidden' name='cmd' value='_s-xclick' />
        <input type='hidden' name='hosted_button_id' value='KY5BZHNAPNJM2' />
        <span class='box' style='font-weight: bold; background-color: black;'>
            <input type='image' name='submit' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' alt='PayPal' />
        </span>
        </form>
        <span class="clearfix"></span>
    </aside>

    {% block content %}{% endblock content %}
{% endblock content_placeholder %}
