/* =================================================================== */
/* v01d #6dae42
====================================================================== */

a, a:visited,
#not-found i,
.categories a:hover,
.dropcap,
.meta ul li a:hover,
.list-1 li:before,
.list-2 li:before,
.list-3 li:before,
.list-4 li:before { color: #6dae42; }

#current,
.menu ul li a:hover,
.menu ul > li:hover > a,
.menu ul ul { border-top-color: #6dae42; }
.meta-list ul li.title a { font-weight: bold; color: #6dae42; }

.tp-leftarrow:hover,
.tp-rightarrow:hover,
.flexslider .flex-next:hover,
.flexslider .flex-prev:hover,
.sb-navigation-left:hover,
.sb-navigation-right:hover,
.search-btn { background-color: #304c1d; }

#filters a:hover, .selected { background-color: #304c1d !important; }

#current:after,
.pagination .current,
.pagination a:hover,
.tags a:hover,
.menu a:hover,
.tabs-nav li.active a,
.trigger.active a,
.trigger.active a:hover,
.skill-bar-value,
.highlight.color,
.notice-box:hover { background: #304c1d; }
