/* =================================================================== */
/* Import Section
====================================================================== */
@import url("base.css");			/* Default Reset, Typography, Forms, etc. */
@import url("icons.css");			/* Font Awesome Icons */


body {
	background: #000 url('../images/bg.svg') no-repeat fixed center center;
	min-height: 100%;
}

/* =================================================================== */
/* Header
====================================================================== */
#header {
	height: 48px;
	z-index: 999;
	background: #000;
	position: relative;
	width: 100%;
}

/* Logo (site heading)
====================================*/
#logo {
	margin: 2px 10px;
}
img#logo1 {
	height: 32px;
	margin-top: 8px;
}
img#logo2 {
	height: 32px;
	margin-top: 8px;
}
img#logo3 {
	height: 18px;
	margin-top: 22px;
	margin-left: 4px;
}
#logo h1 {
	font-family: "DejaVu Sans Mono",Consolas,Monaco,monospace,serif;
	font-weight: 100;
}

/* =================================================================== */
/* Main body
====================================================================== */
#main-body {
	margin: 2px 10px;
}

.align-center {
	text-align: center;
}

/* Literal/code blocks */
.docutils.literal {
    background-color: #223;
    border: 1px solid #333;
    font-family: "DejaVu Sans Mono",Consolas,Monaco,monospace,serif;
    font-size: 0.85em;
    font-style: normal;
    padding: 0 0.25em;
}

pre.literal-block {
	margin: 0 3em 1em 1em;
	font-size: .85em;
}

/* Admonitions and figures */
div.admonition, div.note {
	background-color: #080808;
	border: 1px solid #333;
	margin: 0.7em 0 0.7em 0;
	padding: 0em 0.5em;
	font-size: .85em;
}

p.admonition-title {
	margin: 0px 10px 5px 0px;
	font-weight: bold;
}

div.figure {
	background-color: #080808;
	border: 1px solid #333;
	margin: 0em 3em 1.2em 1em;
	padding: 0em 0.5em;
	font-size: .85em;
	color: #631010;
}

div.figure img {
    margin-bottom: 1em;
}

/* Tables */
article table {
	background-color: #080808;
	font-size: 0.85em;
	margin: 0 3em 1em 1em;
}

article table td {
	padding: 4px 6px;
	border: #222 1px solid;
}

article table tr:nth-child(2n) td {
	background-color: #101010;
}

article table tr:hover td { background-color: #040404; }

/* Menu
====================================*/
#navigation {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 4px;
}

.menu a {
	padding: 0 24px;
}

/* Breadcrumbs
====================================*/
nav#breadcrumbs {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 2px 0px 3px 0px;
	position: relative;
	margin-bottom: 1em;
}

nav#breadcrumbs {
	text-align: center;
}

/* Social Icons bar
====================================*/
.social-icons {
	margin: -3px 0 0 0;
}

.social-icons a i {
	padding-top: 5px;
}

.social-icons a .fa {
	width:32px;
	font-size:16px
}

/* Fullscreen Video
====================================*/
.caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

/* =================================================================== */
/* Blog
====================================================================== */
.post {
	padding: 0 0 40px 0;
	margin: 0 0 40px 0;
	border-bottom: 1px solid #101010;
}

.post-list {
	margin: 0 auto 16px auto;
}
.post-list tr {
	border-bottom: 1px solid #222;
}

.post-list td {
	padding: 0px 6px;
	background: url('../images/blog-divider.png') no-repeat 100% 55%;
}

.post-list td.title a { font-weight: bold; }
.post-list td:first-child { padding-left: 14px; }
.post-list td:last-child { background: 0; }

.post-list .date {
	font-size: 0.8em;
	color: #999;
}

.post-img  { margin: 0 0 30px 0; }

/* Post Content */
article p { margin-bottom: 1.2em; }

/* Meta */
.meta { margin: 0 0 12px 0; }

.meta span {
	line-height: 22px;
	color: #999;
	font-size: .85em;
	margin: 1px 5px 0 0;
	padding: 0 10px 0 0;
	font-weight: 300;
	background: url('../images/blog-divider.png') no-repeat 100% 55%;
}

.meta span:last-child { background: 0; }

/* Pagination
====================================*/
.pagination {
	margin: 0;
}

.pagination a {
	padding: 6px 10px;
	border: 1px solid #333;
	margin-right: 4px;
	background-color: #000;
	transition: all 200ms ease-in-out;
}

.pagination .current,
.pagination a:hover {
	background: #a0a0a0;
	color: #fff;
}

/* Tags
====================================*/

.tags a, .menu a {
	padding: 2px 6px;
	border: 1px solid #333;
	background-color: #000;
	display: inline-block;
	margin: 0 2px 6px 0;
	transition: all 200ms ease-in-out;
}

.tags a:last-child {
	margin-right: 0;
}

.tags a:hover, .menu a:hover {
	color: #fff;
}

td.tags a {
	font-size: 0.85em;
	padding: 0px 4px;
	margin: 0 -2px 2px 0;
}

/* Sidebar
====================================*/
aside {
    font-size: .8em;
    float: right;
    width: 23%;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #333;
}

aside div#about {
	margin-bottom: 1em;
}

aside form {
	margin-top: 1em;
	text-align: center;
}

#categories a {
	display: block;
	line-height: 16px;
	padding: 3px 0;
}

#categories a:before {
	content: "";
	font-family: "FontAwesome";
	font-size: 13px;
	margin-right: 9px;
	float: left;
}

/* About */
#about {
	line-height: .7em;
}

#about p {
	margin-bottom: 1em;
}

#about img {
	float: right;
	padding: 1px;
	margin-left: 1em;
	width: 80px;
}


/* Social Icons
====================================*/

.rss i, .rss:before { margin: 13px 0 0 14px; font-size: 14px !important; }
.rss:before { content: "\52"; top: 0; opacity:1; }
.rss:hover:before { top: 30px; opacity: 0; }
.rss:hover { background-color: #fe8f00; }

.github i, .github:before { margin: 13px 0 0 13px; }
.github:before { content: "\67"; top: 0; opacity:1; }
.github:hover:before { top: 30px; opacity: 0; }
.github:hover { background-color: #5c7381; }

/* Footer Bottom
====================================*/
footer {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 5px 0px 6px 10px;
	font-size: 0.75em;
}

footer span {
	margin-right: 1em;
}

/* =================================================================== */
/* Media Queries
====================================================================== */

/* Standard 1180 (devices and browsers) */
@media only screen and (min-width: 1200px){
	body {
		font-size: 18px;
	}

	.caption.text { margin-left: 0 !important; }
	.caption h2,
	.caption h3,
	.caption p {margin:0;}
}

/* Smaller than standard 1180 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.caption.text { margin-left: 50px !important; }
	.caption h2,
	.caption h3,
	.caption p { margin:0; }
	
	.menu a { padding: 0 20px; }

	ol li ol.childlist .comment-des {
		float:right;
		width:78%;
	}

	td.tags {
		display: none;
	}

	.comment-des {
		float:right;
		width: 81%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	.caption.text {margin-left: 30px !important;}
	.caption h2 {font-size: 32px; margin-top: 10px;}
	.caption h3 {font-size: 20px; margin-top: 15px;}
	
	nav#breadcrumbs {
		top: 0;
		margin-bottom: 40px;
	}
	
	.social-icons {
		margin-top: 5px;
	}
	
	a.button.launch { margin: 0 0 30px 0; }

	ol li ol.childlist .comment-des {
		float:right;
		width:63%;
	}

	aside {
		float: none;
		width: inherit;
		margin-left: 0;
	}

	#about {
		font-size: .8em;
		line-height: .65em;
	}

	#categories, td.tags {
		display: none;
	}

	.comment-des {
		float:right;
		width: 68%;
	}
}

/* =================================================================== */
/* Hacks
====================================================================== */

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after
{
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
